<li>

	{{name}}

	<button class="change-devourment" data-burger-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Regurgitate!{{else}}Devoured!{{/if}}
	</button>

	<button class="delete-burger" data-burger-id="{{id}}">DELETE!</button>
</li>